<div class="row mb-4">
  <div class="col-12 mt-5">
    <h1><%= I18n.t('cases.title') %></h1>
    
    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('cases.total') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@total) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('cases.residents') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.positive_residents) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('cases.non_resident') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.non_residents) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('cases.recovered') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.recovered) %></h1>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12">
    <h1><%= I18n.t('tests.title') %></h1>

    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Total</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter((@stats.results_negative + @stats.positive_residents + @stats.non_residents)) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('tests.negative') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.results_negative) %></h1>
        </div>
      </div>

      <div class="card mb-4 stat-card">
      </div>
    </div>
  </div>

  <div class="col-12">
    <h1><%= I18n.t('deaths.title') %></h1>

    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('deaths.residents') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.deaths) %></h1>
        </div>
      </div>

      <div class="card mb-4 stat-card">
      </div>

      <div class="card mb-4 stat-card">
      </div>
    </div>
  </div>

  <div class="col-12">
    <h1><%= I18n.t('monitoring.title') %></h1>

    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('monitoring.monitored') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.being_monitored) %></h1>
        </div>
      </div>

      <div class="card mb-4 stat-card">
      </div>

      <div class="card mb-4 stat-card">
      </div>
    </div>
  </div>

  <div class="col-12 mb-4 mt-1">
    <h1><%= I18n.t('age.title') %></h1>

    <canvas id="age_chart" style="position: relative; height:40vh; width:80vw"></canvas>
  </div>

  <div class="col-12">
    <h1>Cases by County</h1>
    
    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card shadow-sm">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Total</th>
                <th scope="col">Residents</th>
                <th scope="col">Non Resident</th>
                <th scope="col">Deaths</th>
              </tr>
            </thead>
            <tbody>
              <% @counties.each do |ct| %>
                <tr>
                  <th scope="row"><%= ct.name %></th>
                  <td><%= (ct.residents + ct.non_residents) %></td>
                  <td><%= ct.residents %></td>
                  <td><%= ct.non_residents %></td>
                  <td><%= ct.deaths %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <h1><%= I18n.t('us.title') %></h1>
    
    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('us.confirmed') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@co.confirmed) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('us.recovered') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@co.recovered) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('us.deaths') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@co.deaths) %></h1>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12">
    <h1><%= I18n.t('earth.title') %></h1>
    
    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('earth.confirmed') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@earth.sum(:confirmed)) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('earth.recovered') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@earth.sum(:recovered)) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('earth.deaths') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@earth.sum(:deaths)) %></h1>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12 mb-1 mt-1">
    <p class="mb-0">Updated At: <%= @stats.last_update %></p>
    <p>Data Source: <a href="https://www.arcgis.com" target="_blank">ArcGIS</a></p>
  </div>

  <div class="col-12 mb-2 mt-1">
    <h4 class="mb-0">Cases Confirmed</h4>
    <p>A Confirmed status is given when the Presumptive Positive sample is then confirmed by the CDC.</p>
  </div>

  <div class="col-12 mb-2 mt-1">
    <h4 class="mb-0">Public Health Monitoring</h4>
    <p>The number of people under public health monitoring includes those at risk of having been exposed to COVID-19 who are monitoring their health under the supervision of public health officials.</p>
  </div>

  <div class="col-12 mt-1">
    <hr>
    <h1>API</h1>
    <p class="mb-0">We have a public API to retrieve the latest update from `arcgis.com`.</p>

    <ul class="mt-2 pl-3">
      <li class="mb-2">
        <h6 class="mb-0">Returns case data from Florida</h6>
        <a href="https://floridacovid.com/api/v1/cases" target="_blank">https://floridacovid.com/api/v1/cases</a>
      </li>
      <li class="mb-2">
        <h6 class="mb-0">Returns case data from Florida Counties</h6>
        <a href="https://floridacovid.com/api/v1/cases/counties" target="_blank">https://floridacovid.com/api/v1/cases/counties</a>
      </li>
      <li class="mb-2">
        <h6 class="mb-0">Returns case data from States</h6>
        <a href="https://floridacovid.com/api/v1/cases/states" target="_blank">https://floridacovid.com/api/v1/cases/states</a>
      </li>
      <li class="mb-2">
        <h6 class="mb-0">Returns case data from Countries</h6>
        <a href="https://floridacovid.com/api/v1/cases/countries" target="_blank">https://floridacovid.com/api/v1/cases/countries</a>
      </li>
      <li class="mb-2">
        <h6 class="mb-0">Returns case data from Earth</h6>
        <a href="https://floridacovid.com/api/v1/cases/earth" target="_blank">https://floridacovid.com/api/v1/cases/earth</a>
      </li>
    </ul>
  </div>
</div>

<script>
var age_chart = document.getElementById('age_chart').getContext('2d');
new Chart(age_chart, {
    type: 'bar',
    data: {
        labels: ['0-4', '5-14', '15-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-84', '80+'],
        datasets: [{
            data: [<%= @stats.age_0_4 %>, <%= @stats.age_5_14 %>, <%= @stats.age_15_24 %>, <%= @stats.age_25_34 %>, <%= @stats.age_35_44 %>, <%= @stats.age_45_54 %>, <%= @stats.age_55_64 %>, <%= @stats.age_65_74 %>, <%= @stats.age_75_84 %>, <%= @stats.age_85plus %>],
            backgroundColor: [
                'rgb(206, 164, 100)', //, 0.2
                'rgb(255, 0, 0)',
                'rgb(205, 207, 107)',
                'rgb(169, 255, 1)',
                'rgb(85, 255, 0)',
                'rgb(6, 255, 197)',
                'rgb(1, 197, 255)',
                'rgb(0, 112, 255)',
                'rgb(180, 97, 208)',
                'rgb(210, 99, 178)'
            ],
            borderColor: [
                'rgba(206, 164, 100, 1)', //, 1
                'rgb(255, 0, 0, 1)',
                'rgba(205, 207, 107, 1)',
                'rgb(169, 255, 1)',
                'rgb(85, 255, 0)',
                'rgb(6, 255, 197)',
                'rgb(1, 197, 255)',
                'rgb(0, 112, 255)',
                'rgb(180, 97, 208)',
                'rgb(210, 99, 178)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      legend: {
        display: false,
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
});
</script>