<div class="row mb-4">
  <div class="col-12 mt-5">
    <h1><%= I18n.t('cases.title') %></h1>
    
    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('cases.total') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@total) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('cases.residents') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.positive_residents) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('cases.non_resident') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.non_residents) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('cases.recovered') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.recovered) %></h1>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12">
    <h1><%= I18n.t('tests.title') %></h1>

    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('tests.negative') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.results_negative) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('tests.pending') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.results_pending) %></h1>
        </div>
      </div>

      <div class="card mb-4 stat-card">
      </div>
    </div>
  </div>

  <div class="col-12">
    <h1><%= I18n.t('deaths.title') %></h1>

    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('deaths.residents') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.deaths) %></h1>
        </div>
      </div>

      <div class="card mb-4 stat-card">
      </div>

      <div class="card mb-4 stat-card">
      </div>
    </div>
  </div>

  <div class="col-12">
    <h1><%= I18n.t('monitoring.title') %></h1>

    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('monitoring.monitored') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@stats.being_monitored) %></h1>
        </div>
      </div>

      <div class="card mb-4 stat-card">
      </div>

      <div class="card mb-4 stat-card">
      </div>
    </div>
  </div>

  <div class="col-12 mb-1 mt-1">
    <h1><%= I18n.t('age.title') %></h1>

    <canvas id="age_chart" style="position: relative; height:40vh; width:80vw"></canvas>
  </div>

  <div class="col-12">
    <h1><%= I18n.t('us.title') %></h1>
    
    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('us.confirmed') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@co.confirmed) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('us.recovered') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@co.recovered) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('us.deaths') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@co.deaths) %></h1>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12">
    <h1><%= I18n.t('earth.title') %></h1>
    
    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('earth.confirmed') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@earth.sum(:confirmed)) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('earth.recovered') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@earth.sum(:recovered)) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><%= I18n.t('earth.deaths') %></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@earth.sum(:deaths)) %></h1>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12 mb-1 mt-1">
    <p class="mb-0">Updated At: <%= @stats.last_update %></p>
    <p>Data Source: <a href="https://www.arcgis.com" target="_blank">ArcGIS</a></p>
  </div>

  <div class="col-12 mb-2 mt-1">
    <h4 class="mb-0">Cases Confirmed</h4>
    <p>A Confirmed status is given when the Presumptive Positive sample is then confirmed by the CDC.</p>
  </div>

  <div class="col-12 mb-2 mt-1">
    <h4 class="mb-0">Public Health Monitoring</h4>
    <p>The number of people under public health monitoring includes those at risk of having been exposed to COVID-19 who are monitoring their health under the supervision of public health officials.</p>
  </div>

  <div class="col-12 mt-1">
    <hr>
    <h1>API</h1>
    <p class="mb-0">We have a public API to retrieve the latest update from `arcgis.com`.</p>
    <a href="https://floridacovid.com/api/v1/cases" target="_blank">https://floridacovid.com/api/v1/cases</a><br>
    <a href="https://floridacovid.com/api/v1/cases/states" target="_blank">https://floridacovid.com/api/v1/cases/states</a><br>
    <a href="https://floridacovid.com/api/v1/cases/countries" target="_blank">https://floridacovid.com/api/v1/cases/countries</a><br>
    <a href="https://floridacovid.com/api/v1/cases/earth" target="_blank">https://floridacovid.com/api/v1/cases/earth</a>
  </div>
</div>

<script>
var age_chart = document.getElementById('age_chart').getContext('2d');
new Chart(age_chart, {
    type: 'bar',
    data: {
        labels: ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80+'],
        datasets: [{
            data: [<%= @stats.age_0_9 %>, <%= @stats.age_10_19 %>, <%= @stats.age_20_29 %>, <%= @stats.age_30_39 %>, <%= @stats.age_40_49 %>, <%= @stats.age_50_59 %>, <%= @stats.age_60_69 %>, <%= @stats.age_70_79 %>, <%= @stats.age_80plus %>],
            backgroundColor: [
                'rgb(206, 164, 100)', //, 0.2
                'rgb(205, 207, 107)',
                'rgb(169, 255, 1)',
                'rgb(85, 255, 0)',
                'rgb(6, 255, 197)',
                'rgb(1, 197, 255)',
                'rgb(0, 112, 255)',
                'rgb(180, 97, 208)',
                'rgb(210, 99, 178)'
            ],
            borderColor: [
                'rgba(206, 164, 100, 1)', //, 1
                'rgba(205, 207, 107, 1)',
                'rgb(169, 255, 1)',
                'rgb(85, 255, 0)',
                'rgb(6, 255, 197)',
                'rgb(1, 197, 255)',
                'rgb(0, 112, 255)',
                'rgb(180, 97, 208)',
                'rgb(210, 99, 178)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      legend: {
        display: false,
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
});
</script>