<div class="row mb-4">
  <div class="col-12 mt-5">
    <h1>Florida COVID-19 Cases</h1>

    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Total</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter((@state_stats.positive_residents + @state_stats.positive_non_residents)) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Residents</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@state_stats.positive_residents) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Non-Resident</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@state_stats.positive_non_residents) %></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <h1>Health Monitoring</h1>

    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Hospitalized</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@state_stats.being_monitored) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Recovered</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@state_stats.recovered) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Deaths</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@state_stats.deaths) %></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <h1>Test Results</h1>

    <div class="card-deck mb-3 mt-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Total</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@state_stats.results_total) %></h1>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Negative</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= number_with_delimiter(@state_stats.results_negative) %></h1>
        </div>
      </div>

      <div class="card mb-4 stat-card not-here">
      </div>
    </div>
  </div>
</div>