<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Florida COVID-19 Cases</title>
    <meta name="description" content="Florida's Positive Cases of COVID-19">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Florida COVID-19</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Florida</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Counties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Country</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <%= yield %>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">Grab The Code From <a href="https://github.com/arubinofaux/floridacovid" target="_blank">Github</a></p>
      </footer>
    </main>
  </body>
</html>
